<div class="container-grid">
    <div class="history-div-box"></div>
    <div class="history-div-title">
        <strong>Peso ideal ✅</strong>
    </div>
    <div class="history-div-date">8m atrás</div>
    <div class="history-div-text">
        Parabéns, você está no seu peso ideal, continue mantendo este estilo!
        <br/>
        <hr class="hr-gray">
    </div>
</div>