<div class="container-grid">
    <div class="history-div-box"></div>
    <div class="history-div-title">
        <strong>Sobrepeso ⛔️</strong>
    </div>
    <div class="history-div-date-old">12/10/2023</div>
    <div class="history-div-text">
        Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!
        <br/>
        <hr class="hr-gray">
    </div>
</div>