@page "/history"
@using Imc.Model
@using Blazored.LocalStorage
@inject ISyncLocalStorageService _localStorage;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>History</title>
</head>

<body>
<div class="container-img">
    <img src="assets/icon-no-bg.png" class="img-center"/>
</div>
<div class="title">
    <h1 class="title-text">Histórico</h1>
</div>
<div>
    <input class="input-text-search" type="text" placeholder="Pesquisar..."/>
</div>

@foreach (var item in _dataStore)
{
    if (item.Imc < 25)
    {
        <div class="container-grid">
            <div class="history-div-box"></div>
            <div class="history-div-title"><strong>Peso ideal ✅</strong>
            </div>
            <div class="history-div-date">@item.Data</div>
            <div class="history-div-text">
                Parabéns, você está no seu peso ideal, continue mantendo este estilo!
                <br/>
                <hr class="hr-gray"/>
            <br/>
            </div>
        </div>
        <br/>
        
    }
    else
    {
        <div class="container-grid">
            <div class="history-div-box"></div>
            <div class="history-div-title"><strong>Sobrepeso ⛔️</strong>
            </div>
            <div class="history-div-date-old">@item.Data</div>
            <div class="history-div-text">
            Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!
            <br/>
            <hr class="hr-gray"/>
            <br/>
            </div>
            </div>
        <br/>

    }
    
}



<div hidden>
    <a href="index.html"><button href="history.html" class="botao-history">Voltar</button></a>
</div>
 
</body>

</html>

@code{
    List<DataStore> _dataStore = new List<DataStore>();

    protected override void OnInitialized()
    {
        _dataStore.Clear();
        int maxID = _localStorage.GetItem<int>("MaxID");
        base.OnInitialized();
        for (int i = 1; i <= maxID; i++)
        {
            _dataStore.Add(_localStorage.GetItem<DataStore>(i.ToString()));;
        }
    }


}